body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#auth-container, #user-info {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* Inclui padding e borda na largura */
}
